.cart-page {
    &__cart-btns-wrap {
        display: flex;
        flex: 0 0 0;
        gap: 10px 4px;
        flex-wrap: wrap;
    }
}

.cart {
    &__clear-cart-text,
    &__share-link-text {
        line-height: 1.2;
    }
}

.cart-page__url-share {
    .cart-page__url-share-block {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px;
    }

    input,
    button,
    .tooltip-inner {
        border-radius: 0.3125rem;
        cursor: pointer;
    }

    * {
        color: #000;
    }
}
