@{
    var isMobile = SettingsDesign.IsMobileTemplate;
    Html.AddAsset("orderReviews");
}

@if (!isMobile)
{
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h2 class="m-t-none m-b-none sticky-page-name-text m-r p-b-xs">
                    @T("Admin.OrderReviews.Index.Header")
                </h2>
            </div>
        </div>
    </div>
}
else
{
    @Html.Header(new AdvantShop.Web.Admin.ViewModels.Shared.Common.HeaderViewModel()
    {
        Title = T("Admin.OrderReviews.Index.Header").ToString(),
    })
}

<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="orderReviews.gridOnInit(grid)"
                        grid-options="orderReviews.gridOptions"
                        grid-selection-enabled="false"
                        grid-url="'orderreviews/getorderreviews'"
                        grid-search-placeholder="'Поиск по номеру заказа'"
                        grid-extend-ctrl="orderReviews"
                         grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <a ng-href="orders/edit/{{row.entity.OrderId}}" class="card card--gap-row-sm grid g-xs">
                    <div class="flex middle-xs between-xs m-b-sm">
                        <b>
                            Заказ №<span ng-bind-html="row.entity.OrderNumber"></span>
                        </b>
                        <div>
                            <ul class="rating" rating current="{{row.entity.Ratio}}"
                                readonly="true">
                                <li class="rating-item"
                                    ng-class="{'rating-item-selected': 5 <= rating.current}">
                                    <svg width="15" height="15" class="rating__star" xmlns="http://www.w3.org/2000/svg" viewBox="3 0 22 22">
                                        <path fill="currentColor" d="M19.392 9.202c0-.248-.188-.403-.565-.463l-5.061-.736-2.268-4.588c-.128-.275-.293-.413-.494-.413-.202 0-.367.138-.495.413L8.241 8.003l-5.061.736c-.377.06-.565.215-.565.463 0 .142.084.303.252.484l3.67 3.57-.867 5.04c-.014.095-.02.162-.02.202 0 .141.035.26.105.358.07.098.177.146.318.146.12 0 .255-.04.403-.12l4.527-2.38 4.527 2.38c.141.08.276.12.403.12a.355.355 0 0 0 .308-.146.595.595 0 0 0 .106-.358 1.51 1.51 0 0 0-.01-.201l-.868-5.042 3.66-3.569c.175-.174.262-.336.262-.484" />
                                    </svg>
                                </li>
                                <li class="rating-item"
                                    ng-class="{'rating-item-selected': 4 <= rating.current}">
                                    <svg width="15" height="15" class="rating__star" xmlns="http://www.w3.org/2000/svg" viewBox="3 0 22 22">
                                        <path fill="currentColor" d="M19.392 9.202c0-.248-.188-.403-.565-.463l-5.061-.736-2.268-4.588c-.128-.275-.293-.413-.494-.413-.202 0-.367.138-.495.413L8.241 8.003l-5.061.736c-.377.06-.565.215-.565.463 0 .142.084.303.252.484l3.67 3.57-.867 5.04c-.014.095-.02.162-.02.202 0 .141.035.26.105.358.07.098.177.146.318.146.12 0 .255-.04.403-.12l4.527-2.38 4.527 2.38c.141.08.276.12.403.12a.355.355 0 0 0 .308-.146.595.595 0 0 0 .106-.358 1.51 1.51 0 0 0-.01-.201l-.868-5.042 3.66-3.569c.175-.174.262-.336.262-.484" />
                                    </svg>
                                </li>
                                <li class="rating-item"
                                    ng-class="{'rating-item-selected': 3 <= rating.current}">
                                    <svg width="15" height="15" class="rating__star" xmlns="http://www.w3.org/2000/svg" viewBox="3 0 22 22">
                                        <path fill="currentColor" d="M19.392 9.202c0-.248-.188-.403-.565-.463l-5.061-.736-2.268-4.588c-.128-.275-.293-.413-.494-.413-.202 0-.367.138-.495.413L8.241 8.003l-5.061.736c-.377.06-.565.215-.565.463 0 .142.084.303.252.484l3.67 3.57-.867 5.04c-.014.095-.02.162-.02.202 0 .141.035.26.105.358.07.098.177.146.318.146.12 0 .255-.04.403-.12l4.527-2.38 4.527 2.38c.141.08.276.12.403.12a.355.355 0 0 0 .308-.146.595.595 0 0 0 .106-.358 1.51 1.51 0 0 0-.01-.201l-.868-5.042 3.66-3.569c.175-.174.262-.336.262-.484" />
                                    </svg>
                                </li>
                                <li class="rating-item"
                                    ng-class="{'rating-item-selected': 2 <= rating.current}">
                                    <svg width="15" height="15" class="rating__star" xmlns="http://www.w3.org/2000/svg" viewBox="3 0 22 22">
                                        <path fill="currentColor" d="M19.392 9.202c0-.248-.188-.403-.565-.463l-5.061-.736-2.268-4.588c-.128-.275-.293-.413-.494-.413-.202 0-.367.138-.495.413L8.241 8.003l-5.061.736c-.377.06-.565.215-.565.463 0 .142.084.303.252.484l3.67 3.57-.867 5.04c-.014.095-.02.162-.02.202 0 .141.035.26.105.358.07.098.177.146.318.146.12 0 .255-.04.403-.12l4.527-2.38 4.527 2.38c.141.08.276.12.403.12a.355.355 0 0 0 .308-.146.595.595 0 0 0 .106-.358 1.51 1.51 0 0 0-.01-.201l-.868-5.042 3.66-3.569c.175-.174.262-.336.262-.484" />
                                    </svg>
                                </li>
                                <li class="rating-item"
                                    ng-class="{'rating-item-selected': 1 <= rating.current}">
                                    <svg width="15" height="15" class="rating__star" xmlns="http://www.w3.org/2000/svg" viewBox="3 0 22 22">
                                        <path fill="currentColor" d="M19.392 9.202c0-.248-.188-.403-.565-.463l-5.061-.736-2.268-4.588c-.128-.275-.293-.413-.494-.413-.202 0-.367.138-.495.413L8.241 8.003l-5.061.736c-.377.06-.565.215-.565.463 0 .142.084.303.252.484l3.67 3.57-.867 5.04c-.014.095-.02.162-.02.202 0 .141.035.26.105.358.07.098.177.146.318.146.12 0 .255-.04.403-.12l4.527-2.38 4.527 2.38c.141.08.276.12.403.12a.355.355 0 0 0 .308-.146.595.595 0 0 0 .106-.358 1.51 1.51 0 0 0-.01-.201l-.868-5.042 3.66-3.569c.175-.174.262-.336.262-.484" />
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="overflow-wrap: anywhere;" ng-bind-html="row.entity.Text"></div>
                </a>
            </ui-grid-custom-override-control>
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="orderReviews.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
