<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="gridFunnelBookings"
                        grid-filter-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{orderSourceId: $ctrl.orderSourceId}"
                        grid-options="$ctrl.gridBookingsOptions"
                        grid-url="'booking/getListForCustomer'"
                        grid-on-init="$ctrl.gridOnInit(grid)"
                        grid-extend-ctrl="$ctrl"
                        grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <div class="card card--gap-row-sm">
                    <div class="card__row card__row--flow-column">
                        <div class="card__col flex flex-wrap g-xs">
                            <span class="card__text--alt">#<span ng-bind="row.entity.Id"></span></span>
                            <span class="card__text" ng-bind="row.entity.StatusName"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text card__text--color-alt" ng-bind="row.entity.BeginDateFormatted"></span>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col">
                            <span class="card__text--alt" ng-bind="row.entity.CustomerName"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text--alt" ng-bind="row.entity.Sum + row.entity.CurrencySymbol"></span>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col">
                            <span class="card__text card__text--color-alt" ng-bind="row.entity.ReservationResourceName"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text" ng-bind="row.entity.IsPaid ? 'Оплачена' : 'Не оплачена'"></span>
                        </div>
                    </div>
                </div>
            </ui-grid-custom-override-control>
        </ui-grid-custom>
    </div>
</div>
