<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="gridFunnelLeads"
                        grid-filter-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{orderSourceId: $ctrl.orderSourceId}"
                        grid-options="$ctrl.gridLeadsOptions"
                        grid-url="'leads/getLeads'"
                        grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <lead-info-trigger lead-id="row.entity.Id">
                    <div class="card card--gap-row-sm card--border-info" ng-style="{'border-color': '#' + row.entity.DealStatusColor }">
                        <div class="card__row card__row--three">
                            <div class="card__col">
                                <span class="card__text--alt">#<span ng-bind="row.entity.Id"></span></span>
                            </div>
                            <div class="card__col">
                                <span class="card__text--color-alt" ng-bind="row.entity.FullName"></span>
                            </div>
                            <div class="card__col card__col--end">
                                <span class="card__text--alt" ng-bind="row.entity.SumFormatted"></span>
                            </div>
                        </div>
                        <div class="card__row m-b">
                            <div class="card__text--color-alt" ng-bind="row.entity.Description"></div>
                        </div>
                        <div class="card__row">
                            <div class="card__col">
                                <span class="card__text--color-alt" ng-bind="row.entity.CreatedDateFormatted"></span>
                            </div>
                            <div class="card__col card__col--end">
                                <span class="card__text--color-alt" ng-bind="row.entity.OrderSource"></span>
                            </div>
                        </div>
                    </div>
                    </lead-info-trigger>
            </ui-grid-custom-override-control>
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridLeadsOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
