<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="gridFunnelOrders"
                        grid-filter-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{orderSourceId: $ctrl.orderSourceId}"
                        grid-options="$ctrl.gridOrdersOptions"
                        grid-url="'orders/getOrders'"
                        grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <a ng-href="orders/edit/{{row.entity.OrderId}}" class="card card--gap-row-sm">
                    <div class="card__row">
                        <div class="card__col">
                            <span class="card__text--alt">#<span ng-bind="row.entity.Number"></span></span>
                            <span class="card__text" ng-style="{'color': '#' + row.entity.Color}" ng-bind="row.entity.StatusName"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text--alt" ng-bind="row.entity.SumFormatted"></span>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col">
                            <span class="card__text" ng-bind="row.entity.BuyerName"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text" ng-style="row.entity.IsPaid ? {'color':'green'} : {'color':'red'}" ng-bind="row.entity.IsPaid ? 'Оплачен' : 'Не оплачен'"></span>
                        </div>
                    </div>
                    <div class="card__row">
                        <div class="card__col">
                            <span class="card__text card__text--color-alt" ng-bind="row.entity.City"></span>
                        </div>
                        <div class="card__col card__col--end">
                            <span class="card__text card__text--color-alt" ng-bind="row.entity.OrderDateFormatted"></span>
                        </div>
                    </div>
                </a>
            </ui-grid-custom-override-control>

            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridOrdersOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
