@model AdvantShop.Models.Common.CopyrightModel
@if (!string.IsNullOrWhiteSpace(Model.Text))
{
    <div class="copyright-block">
        <div class="cs-t-3">
            @Html.Raw(Model.Text)
        </div>
    </div>
}
