@using AdvantShop.CMS
@using AdvantShop.Core.Services.Configuration.Settings;
@model AdvantShop.Areas.Mobile.Models.Footer.FooterMobileViewModel


@if (Model.IsShowMobileAppLink && Model.IsModuleMobileAppActive)
{
    <div class="site-footer-mobile-app-links">
        @*не добавлять класс cs-bg-4 к тегу выше иначе если у шаблона фон, будет белый блок некрасивый *@
        <div class="container container-fluid">
            <div class="mobile-app-links">
                @if (Model.MobileAppGooglePlayMarket.IsNotEmpty())
                {
                    <div class="mobile-app-links__link-wrap">
                        <a href='@Model.MobileAppGooglePlayMarket' target="_blank" class="mobile-app-links__link">
                            <img alt='Get it on Google Play' src='~/Areas/Mobile/images/googlePlay.png' />
                        </a>
                    </div>
                }
                @if (Model.MobileAppAppleAppStoreLink.IsNotEmpty())
                {
                    <div class="mobile-app-links__link-wrap">
                        <a href='@Model.MobileAppAppleAppStoreLink' target="_blank" class="mobile-app-links__link">
                            <img alt='Get it on App Store' src='~/Areas/Mobile/images/appStore.png' />
                        </a>
                    </div>
                }
                @if (Model.MobileAppRustoreLink.IsNotEmpty())
                {
                    <div class="mobile-app-links__link-wrap">
                        <a href='@Model.MobileAppRustoreLink' target="_blank" class="mobile-app-links__link">
                            <img alt='Get it on RuStore' src='~/Areas/Mobile/images/ruStore.png' />
                        </a>
                    </div>
                }
                @if (Model.MobileAppGalleryLink.IsNotEmpty())
                {
                    <div class="mobile-app-links__link-wrap">
                        <a href='@Model.MobileAppGalleryLink' target="_blank" class="mobile-app-links__link">
                            <img alt='Get it on RuStore' src='~/Areas/Mobile/images/appGallery.png' />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}