@model AdvantShop.ViewModel.PaymentStatus.PaymentStatusResponse
@{
    Html.AddAsset("checkout");
}

<div class="site-body-cell">
    <div class="checkout-success-content m-l-sm">
        <div class="page-title-row checkout-success-title-row">
            <div class="checkout-success-title page-title">
                @Html.StaticBlock("PaymentFail")
            </div>
        </div>
        @if (!Model.IsEmptyLayout)
        {
            <div class="checkout-success-content">
                <div>
                    <a href="@Url.RouteUrl("Home")">@T("PaymentStatus.GoToMain")</a>
                </div>
            </div>
        }
    </div>
</div>