@model AdvantShop.ViewModel.PaymentStatus.PaymentStatusViewModel
@{
    Html.AddAsset("checkout");
}

<div class="site-body-cell checkout-success">
    <div class="checkout-success-content m-l-sm">
        <div class="page-title-row checkout-success-title-row">
            <div class="checkout-success-title page-title">
                @Html.StaticBlock("PaymentReturn")
            </div>
        </div>
        <div class="checkout-success-content">
            @Html.Raw(Model.Result)
            @if (!Model.IsEmptyLayout)
            {
                <div>
                    <a href="@Url.RouteUrl("Home")">@T("PaymentStatus.GoToMain")</a>
                </div>
            }
        </div>
    </div>
</div>