/* logogenerator */
@font-face {
    font-family: AstakhovDished;
    src: url('/fonts/AstakhovDished/AstakhovDished.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Dobrozrachniy;
    src: url('/fonts/Dobrozrachniy/Dobrozrachniy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fakedes Outline';
    src: url('/fonts/Fakedes_Outline/FakedesOutline.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jazz Ball';
    src: url('/fonts/JazzBall/JazzBall.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Krabuler;
    src: url('/fonts/Krabuler/RFKrabuler-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kurica Lapoi 1.3';
    src: url('/fonts/KuricaLapoi1.3/KuricaLapoi1.3.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Pelmeshka;
    src: url('/fonts/Pelmeshka/Pelmeshka.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue/BebasNeue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TexGyreAdventor;
    src: url('/fonts/TexGyreAdventor/TexGyreAdventor-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TexGyreAdventor;
    src: url('/fonts/TexGyreAdventor/TexGyreAdventor-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: MuseoSansCyrl;
    src: url('/fonts/MuseoSansCyrl/MuseoSansCyrl.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/Oswald-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/Oswald-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/Oswald-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/Oswald-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro/GothamPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro/GothamPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro/GothamPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro/GothamPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Circe;
    src: url('/fonts/Circe/Circe.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
