<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">
            {{ctrl.mode === 'add' ? ('Admin.Js.AddEditCarousel.AddCarouselImage'|translate) :
            ('Admin.Js.AddEditCarousel.EditCarouselImage'|translate)}}
        </h2>
    </div>
    <div class="modal-body">
        <div class="form-group row setting__form-group" ng-if="ctrl.mode === 'add'">
            <label class="col-xs-12 col-md-3 control-label"
                ><span class="text-required">{{'Admin.Js.AddEditCarousel.Picture'|translate}}</span></label
            >
            <div class="col-xs-12 col-md-9">
                <picture-uploader
                    start-src="../images/nophoto_small.png"
                    upload-url="/carousel/Upload"
                    delete-url="/carousel/DeleteFile"
                    file-types="ctrl.fileTypes"
                    uploadbylink-url="/carousel/uploadByLink"
                    on-update="ctrl.updateImage(result)"
                    on-delete="ctrl.updateImage(result)"></picture-uploader>
                <p style="margin-bottom: 5px" ng-bind-html="'Admin.Js.AddEditCarousel.Size'|translate"></p>
                <p style="margin-bottom: 0" ng-bind-html="'Admin.Js.AddEditCarousel.MobileSize'|translate"></p>
            </div>
        </div>
        <div class="form-group row setting__form-group">
            <label for="carouselUrl" class="col-xs-12 col-md-3 control-label">
                <span> {{'Admin.Js.AddEditCarousel.NavigationURL'|translate}} </span>
            </label>
            <div class="col-xs-12 col-md-9">
                <input
                    id="carouselUrl"
                    type="text"
                    class="form-control input-alt-mobile"
                    ng-model="ctrl.CaruselUrl"
                    validation-input-text="{{::'Admin.Js.AddEditCarousel.NavigationURL'|translate}}"
                    data-autofocus="!isMobile.value"
                    data-e2e="carouselAddUrl" />
            </div>
        </div>
        <div class="form-group row setting__form-group">
            <label for="carouselDescription" class="col-xs-12 col-md-3 control-label">{{'Admin.Js.AddEditCarousel.AltTagImage'|translate}}</label>
            <div class="col-xs-12 col-md-9">
                <input
                    id="carouselDescription"
                    type="text"
                    class="form-control input-alt-mobile"
                    ng-model="ctrl.Description"
                    data-e2e="carouselAddAltTag" />
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <label for="carouselDisplayInOneColumn" class="col-xs-slim col-md-3" ng-class="{'p-l-xs' : isMobile.value}"
                    >{{'Admin.Js.AddEditCarousel.OneColumn'|translate}}</label
                >
                <div class="col-xs-slim first-xs last-md col-md-9">
                    <label class="adv-checkbox-label flex" data-e2e="carouselAddOneColumn">
                        <input
                            id="carouselDisplayInOneColumn"
                            type="checkbox"
                            checked
                            ng-model="ctrl.DisplayInOneColumn"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-labe' : !isMobile.value}">
                <label for="carouselDisplayInTwoColumns" class="col-xs-slim col-md-3" ng-class="{'p-l-xs' : isMobile.value}"
                    >{{'Admin.Js.AddEditCarousel.TwoColumns'|translate}}</label
                >
                <div class="col-xs-slim first-xs last-md col-md-9">
                    <label class="adv-checkbox-label flex" data-e2e="carouselAddTwoColumns">
                        <input
                            id="carouselDisplayInTwoColumns"
                            type="checkbox"
                            checked
                            ng-model="ctrl.DisplayInTwoColumns"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <label for="carouselDisplayInMobile" class="col-xs-slim col-md-3" ng-class="{'p-l-xs' : isMobile.value}"
                    >{{'Admin.Js.AddEditCarousel.MobileVersion'|translate}}</label
                >
                <div class="col-xs-slim first-xs last-md col-md-9">
                    <label class="adv-checkbox-label flex" data-e2e="carouselAddDisplayInMobile">
                        <input
                            id="carouselDisplayInMobile"
                            type="checkbox"
                            checked
                            ng-model="ctrl.DisplayInMobile"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <label for="carouselBlank" class="col-xs-slim col-md-3" ng-class="{'p-l-xs' : isMobile.value}"
                    >{{'Admin.Js.AddEditCarousel.NewWindow'|translate}}</label
                >
                <div class="col-xs-slim first-xs last-md col-md-9">
                    <label class="adv-checkbox-label flex" data-e2e="carouselAddBlank">
                        <input id="carouselBlank" type="checkbox" ng-model="ctrl.Blank" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label for="carouselSortOrder" class="col-xs-12 col-md-3 control-label">{{'Admin.Js.AddEditCarousel.Sorting'|translate}}</label>
            <div class="col-xs-12 col-md-9">
                <input
                    type="number"
                    min="-2147483648"
                    max="2147483647"
                    id="carouselSortOrder"
                    class="form-control input-alt-mobile"
                    ng-model="ctrl.SortOrder"
                    data-e2e="carouselAddSortOrder"
                    validation-input-text="{{::'Admin.Js.AddEditCarousel.Sorting'|translate}}" />
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <label for="carouselEnabled" class="col-xs-slim col-md-3" ng-class="{'p-l-xs' : isMobile.value}"
                    >{{'Admin.Js.AddEditCarousel.Activity'|translate}}</label
                >
                <div class="col-xs-slim first-xs last-md col-md-9">
                    <label class="adv-checkbox-label" data-e2e="carouselAddEnabled">
                        <input id="carouselEnabled" type="checkbox" checked ng-model="ctrl.Enabled" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            ladda="ctrl.btnSleep"
            type="button"
            data-button-validation-success="ctrl.saveCarousel()"
            data-e2e="carouselAdd"
            data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="carouselAddCancel">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
