@model AdvantShop.Web.Admin.ViewModels.Home.OrderSourcesDasboardViewModel

<div class="ibox float-e-margins">
    <article class="ibox-content sources-orders-block">
        <h3 class="sources-orders sources-orders-block__title">@T("Admin.Home.OrderSourcesDasboard.Sources")</h3>
        <ul class="sources-orders-block__list">
            @foreach (var source in Model.OrderSources)
            {
                <li>
                    <div class="sources-orders-block__info">
                        <span data-e2e="source-id-@source.Id sources-orders-block__source-name">@source.Name</span>
                        <small data-e2e="percent-source-id-@source.Id" class="pull-right source-order-percent sources-orders-block__source-value">@(source.Percent)%</small>
                    </div>
                    @if (!SettingsDesign.IsMobileTemplate)
                    {
                        <div class="progress progress-small">
                            <div style="width: @(source.Percent)%" class="progress-bar"></div>
                        </div>
                    }
                </li>
            }
        </ul>
    </article>
</div>