@model AdvantShop.Web.Admin.ViewModels.Home.OrderGraphDasboardViewModel

<div class="ibox">
    <div class="ibox-content" 
         data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("chart")], serie: true}]">
        <sales-channels-graph></sales-channels-graph>
    </div>
</div>