@model AdvantShop.Web.Admin.ViewModels.Customers.UserInfoPopup

<div data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("userInfoPopupModule")], serie: true}]">
    <user-info-popup on-close="@Model.NgOnClose" on-finish="@Model.NgOnFinish"></user-info-popup>
</div>
