@using AdvantShop.CMS
@using AdvantShop.Core.Services.Configuration.Settings;
@model AdvantShop.Areas.Mobile.Models.Footer.FooterMobileViewModel

<footer id="footer" class="cs-bg-3">
    <div class="panel no-borders footer-social cs-br-1">
        @Html.Partial("_SocialLinks")
    </div>
    <div class="footer-menu">
        @Html.Action("MenuBottom", "Common", new { area = "", isShowSocial = false})
    </div>
    @if (Model.MobileFooterTextStaticBlock != null && Model.MobileFooterTextStaticBlock.Enabled && !Model.MobileFooterTextStaticBlock.Content.Trim().IsEmpty())
    {
        <div class="panel no-borders footer-static-block cs-br-1">
            @Html.StaticBlock("mobile_footer_text")
        </div>
    }
    @Html.Action("Copyright", "Common", new { area = "" })
</footer>