@model AdvantShop.ViewModel.MyAccount.AddressBookViewModel
<div class="myaccount-address-book">
    <div class="h2 myaccount-subtitle">
        @T("MyAccount.AddressBook.AddressBook") 
    </div>
    <div data-address-list data-type="change" data-is-show-name="false" data-zone-update-on-add="true" data-change-address-fn="myaccount.changeAddressList(address)"></div>
</div>
