@model AdvantShop.ViewModel.MyAccount.MyAccountViewModel
<div data-order-history data-mode="myaccount.orderHistoryMode" data-order-number="myaccount.orderNumber" data-is-lp="@Model.IsLanding.ToLowerString()" data-photo-width="@SettingsPictureSize.XSmallProductImageWidth"></div>
