@model AdvantShop.Web.Admin.Models.Services.DomainBuyModel

@{
    Html.AddAsset("tariffs");
}


@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@if (isMobile)
{
    var headerModel = new AdvantShop.Web.Admin.ViewModels.Shared.Common.HeaderViewModel();

    headerModel.Title = "<span>Купить домен</span>";

    @Html.Header(headerModel);
}

<div class="js-iframe-wrap iframe-wrap iframe-wrap--negitive-indents">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/ShopDomainBuy.aspx?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@(ViewBag.Hash)@(Model.FunnelId != null ? "&funnelId=" + Model.FunnelId : "")"
            frameborder="0" width="100" scrolling="no" height="100" style="height:calc(100vh - 195px); width: 100%;" name="shopDomain">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
</div>