@{
    Html.AddAsset("tariffs");
}

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@if (isMobile)
{
    var headerModel = new AdvantShop.Web.Admin.ViewModels.Shared.Common.HeaderViewModel();
    headerModel.Title = "<span>Период оплаты</span>";

    @Html.Header(headerModel);
}
<div class="js-iframe-wrap iframe-wrap iframe-wrap--negitive-indents">
    <iframe class="iframe-loading" onload="this.classList.add('iframe-isloaded')" src="@SettingsLic.BasePlatformUrl/shop/Tariffs.aspx?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash&page=admin" frameborder="0" width="100" height="100" scrolling="no" style="height:calc(100vh - 195px); width: 100%;" name="tariffs">
        @T("Admin.Service.NotSupportFrames")
    </iframe>

    <div class="relative p-t-lg p-b-lg text-center spinner-icon">
        <div>
            <i class="fas fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
</div>
