@model AdvantShop.Web.Admin.Models.Partners.PartnerViewModel

@{ 
    var isMobile = SettingsDesign.IsMobileTemplate;
}
<div class="ibox">
    <div class="ibox-content">
        <div class="m-b-sm">
            <h3 class="category-title setting__subtitle">
                Договор
            </h3>
        </div>
        <div ng-if="partnerView.instance.Partner.ContractConcluded" class="@(isMobile ? "m-b-lg" : "")">
            <span ng-if="partnerView.instance.Partner.ContractNumber">№{{partnerView.instance.Partner.ContractNumber}}</span>
            <span ng-if="partnerView.instance.ContractDateFormatted">от {{partnerView.instance.ContractDateFormatted}}</span>
        </div>
        <div ng-if="!partnerView.instance.Partner.ContractConcluded" class="@(isMobile ? "m-b-lg" : "")">
            Не заключен
        </div>
    </div>
</div>