<div data-is-mobile="">
    <ui-grid-custom grid-unique-id="gridNews"
                    grid-row-identificator="'NewsId'"
                    grid-on-init="news.gridOnInit(grid)"
                    grid-options="news.gridOptions"
                    grid-url="'news/getNews'"
                    grid-inplace-url="'news/inplace'"
                    grid-extend-ctrl="news"
                    grid-swipe-line="isMobile.value">
        @*<ui-grid-custom-override-control class="ng-cloak" ng-if="isMobile.value">
            <div class="card">
                <div class="card__row card__row--full-width">
                    <a href="news/edit/{{row.entity.NewsId}}" class="card__title card__link-grid" ng-bind="row.entity.Title"></a>
                </div>
                <div class="card__row card__text">
                    <div>{{'Admin.Js.News.AddingDate'|translate}}</div>
                    <div class="card__col card__col--end" ng-bind="row.entity.AddingDateFormatted"></div>
                </div>
               <div class="card__row card__text" ng-if="row.entity.NewsCategory != null">
                    <div class="card__col">{{'Admin.Js.News.Category'|translate}}</div>
                    <div class="card__col card__col--end" ng-bind="row.entity.NewsCategory">
                    </div>
                </div>
                <div class="card__row card__text">
                    <div class="card__col">{{'Admin.Js.News.AtHomePage'|translate}}</div>
                    <div class="card__col card__col--end">
                        <ui-grid-custom-switch row="row" field-name="ShowOnMainPage"></ui-grid-custom-switch>
                    </div>
                </div>
               <div class="card__row card__text">
                    <div class="card__col">{{'Admin.Js.News.SheActive'|translate}}</div>
                   <div class="card__col card__col--end">
                       <ui-grid-custom-switch row="row" field-name="Enabled"></ui-grid-custom-switch>
                   </div>
                </div>
            </div>
        </ui-grid-custom-override-control>*@
        <ui-grid-custom-override-control class="ng-cloak" ng-if="isMobile.value">
            <div class="card" style="padding:0;">
                <div class="flex middle-xs" >
                    <a href="news/edit/{{row.entity.NewsId}}" class="card__link-grid flex-grow" style="padding:18px;">
                        <div ng-bind="row.entity.Title"></div>
                    </a>
                    <div style="padding:18px;">
                        <ui-grid-custom-switch row="row" field-name="Enabled"></ui-grid-custom-switch>
                    </div>
                </div>
            </div>
        </ui-grid-custom-override-control>
        <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="news.grid.gridOptions.TotalString">
        </ui-grid-custom-footer>
    </ui-grid-custom>
</div> 

