<div class="info-device-panel" ng-if="!app.mobileVersionNotExistAccept">
        <div class="info-device-panel__inner">
            <div class="info-device-panel__direction">
                <h3 class="info-device-panel__title">Данная страница не имеет мобильной версии</h3>
                <div class="info-device-panel__btn-wrap">
                    <button type="button" class="info-device-panel__btn" ng-click="app.mobileVersionNotExistAccept = true;">
                        Ok
                    </button>
                </div>
            </div>
        </div>
</div>