<div is-mobile class="blocks-constructor-header">Яндекс.Метрика</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">Событие</div>
    <input class="blocks-constructor-input" data-e2e="YaMetrikaEvent" type="text" ng-model="$ctrl.yaMetrikaEventName" />
</div>

<div class="blocks-constructor-header">Google Analytics</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">Категория</div>
    <input class="blocks-constructor-input" data-e2e="GaEventCategory" type="text" ng-model="$ctrl.gaEventCategory" />
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">Действие</div>
    <input class="blocks-constructor-input" data-e2e="GaEventAction" type="text" ng-model="$ctrl.gaEventAction" />
</div>
