<div class="sms-confirmation-field">
    <input
        type="number"
        size="1"
        max="9"
        min="0"
        required
        class="input-small sms-confirmation-field__item"
        ng-model="$ctrl.inputsList[$index]"
        ng-keydown="$ctrl.keydown($event, $index)"
        ng-keyup="$ctrl.keyup($event, $index)"
        ng-repeat="inputItem in $ctrl.inputsList track by $index"
        data-index="{{$index}}"
        data-autofocus="$ctrl.itemIndexFocus === $index"
        ng-disabled="$ctrl.disabled" />
</div>
