@model AdvantShop.Web.Admin.Models.Bonuses.Rules.NewCardRuleModel

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n col-xs-12 col-md-3">
        <span class="text-required setting__label">@T("Admin.Rules.NewCard.AccrueAdditionalBonuses")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.GiftBonus, new { @class = "form-control input-alt", ng_model = "rule.Rule.GiftBonus", required = "required", type = "number", validation_input_text = T("Admin.Rules.NewCard.AccrueAdditionalBonuses").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n col-xs-12 col-md-3">
        <span class="setting__label">@T("Admin.Rules.NewCard.AdditionalBonuses")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.BonusAvailableDays, new { @class = "form-control input-alt", ng_model = "rule.Rule.BonusAvailableDays"})
    </div>
</div>

