@model AdvantShop.Web.Admin.Models.Bonuses.Rules.PostingReviewRuleModel

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n col-xs-12 col-md-3">
        <span class="text-required setting__label">@T("Admin.Rules.PostingReview.AccrueAdditionalBonuses")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.GiftBonus, new { type = "number", @class = "form-control input-alt", ng_model = "rule.Rule.GiftBonus", required = "required", validation_input_text = T("Admin.Rules.PostingReview.AccrueAdditionalBonuses").ToString()})
    </div>
</div>

