@model AdvantShop.ViewModel.Mobile.MobileOverlapViewModel
<div data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("mobileOverlap", "")]}]" class="oc-lazy-load-cloak mobile-overlap">
    <div data-ng-include="'@Html.GetAssetPath("mobileOverlap.html")'"></div>
</div>