@model AdvantShop.ViewModel.Mobile.MobileOverlapViewModel
<div data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("mobileOverlap", "")]}]">
    <div @Html.Raw(Model.ToolbarEnabled ? "class='toolbarEnabled container go-to-mobile-block'" : "")>
        <div data-ng-controller="mobileOverlapCtrl as mOverlap">
            <a data-ng-click="mOverlap.goToMobile('deviceMode', 'mobile')" class="desktopGoToMobile cs-br-1">
                <i class="icon-mobile-after"></i>@T("Checkout.Success.ReturnOnMobileVersion")
            </a>
        </div>
    </div>
</div>
