@{
    var useMobileLayout = ViewBag.useMobileLayout != null && ViewBag.useMobileLayout == true;
    if (useMobileLayout)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Areas/Admin/Templates/AdminV3/Views/Shared/_Layout.cshtml";
    }
}
@if (IsSectionDefined("TopContent"))
{
    @RenderSection("TopContent", false)
}
<div class="admin-mobile-content" @(useMobileLayout ? Html.GetNgController() : null)>
    @RenderBody()
</div>
