@model AdvantShop.Web.Admin.ViewModels.Booking.Settings.SettingsModel
@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="ng-cloak">
    
    @if (!isMobile)
    {
        <div class="sticky-page-name m-b" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text">
                        <span class="hidden-sticky-title" ng-bind="app.getTitle()"></span>
                    </h1>
                </div>
            </div>
        </div>
    }

    <year-calendar class="block booking-year-calendar-wrap"
                   calendar-options="bookingAffiliateSettings.calendarAdditionalTimeOptions"
                   calendar-on-init="bookingAffiliateSettings.calendarAdditionalTimeOnInit(calendar)">
    </year-calendar>

</div>