
<a class="card card--gap-row-sm nav-link m-n" ng-href="brands/edit/{{row.entity.BrandId}}">
    <div class="flex between-xs center-xs">
        <div class="card__col m-r-xs flex middle-xs">
            <div class="setting__brands-img-wrap"><img class="" alt="{{row.entity.PhotoName}}" ng-src="{{row.entity.PhotoSrc}}" /></div>
            <div class="m-l-md">{{row.entity.BrandName}}</div>
        </div>
    </div>
    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.589996 10.59L5.17 6L0.589996 1.41L2 0L8 6L2 12L0.589996 10.59Z" fill="black" /></svg>
</a>
