<ui-modal-trigger data-controller="'ModalAddEditColorCtrl'" controller-as="ctrl"
                  template-url="@Html.GetAssetPath("addEditColor.html")"
                  data-resolve="{'colorId': row.entity.ColorId}"
                  data-on-close="grid.appScope.$ctrl.fetchData()">
        <div class="card card--gap-row-sm">
            <div class="flex between-xs center-xs">
                <div class="card__col m-r-xs flex middle-xs">
                    <span ng-if="row.entity.ColorIcon == ''">
                        <i class="setting__color-icon-block" ng-style="{'background-color':row.entity.ColorCode}"></i>
                    </span>
                    <span ng-if="row.entity.ColorIcon != ''">
                        <i class="setting__color-icon-block" ng-style="{'background-image':'url('+row.entity.ColorIcon+')'}"></i>
                    </span>
                    <span class="m-l-sm">{{row.entity.ColorName}}</span>
                </div>
                <div class="card__col card__col--end setting--align-center">
                    {{row.entity.ProductsCount}}
                </div>
            </div>
        </div>
</ui-modal-trigger>
