
    <div class="card card--gap-row-sm">
        <div class="flex between-xs center-xs">
            <div class="card__col m-r-xs flex middle-xs">
                <span class="m-r-xs">{{row.entity.Name}}</span>
                <span>({{row.entity.Symbol}})</span>
            </div>
            <div class="card__col card__col--end setting--align-center">
                <span>{{row.entity.Rate}}</span>
            </div>
        </div>
    </div>
