<ui-modal-trigger 
        data-controller="'ModalAddPropertyValueCtrl'" controller-as="ctrl"
        template-url="@Html.GetAssetPath("addPropertyValue.html")"
        data-resolve='{value : row.entity}'
        data-on-close="propertyvalues.grid.fetchData()">
        <div class="card card--gap-row-sm">
            <div class="flex between-xs center-xs">
                <div class="card__col m-r-xs">
                    {{row.entity.Value}}
                </div>
                <div class="card__col card__col--end">
                    {{row.entity.ProductsCount}}
                </div>
            </div>
        </div>
</ui-modal-trigger>
