<ui-modal-trigger data-controller="'ModalAddEditSizeCtrl'" controller-as="ctrl"
                  template-url="@Html.GetAssetPath("addEditSize.html")"
                  data-resolve="{'sizeId': row.entity.SizeId}"
                  data-on-close="grid.appScope.$ctrl.fetchData()">
        <div class="card card--gap-row-sm card--p-18">
            <div class="flex between-xs center-xs">
                <div class="card__col m-r-xs flex middle-xs">
                    {{row.entity.SizeName}}
                </div>
                <div class="card__col card__col--end setting--align-center">
                    {{row.entity.ProductsCount}}
                </div>
            </div>
        </div>
</ui-modal-trigger>
