@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/v2/init</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Initv2.Initialization")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/v2/init")
        </div>
        
        <div class="m-b">
            @T("Admin.SettingsApiAuth.Index.Initv2.ReturnsMeanings")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">?settings=IsShowCity,BuyButtonText</pre>
        
    </div>
</div>
