@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/modules/{id}/block</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Modules.GetBlockModule")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/modules/{id}/block")
        </div>

        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        <pre class="m-t-sm">/api/modules/bookingtables/block</pre>

        <div class="m-t m-b-xs">
            Если модуль умеет обрабрабатывать такие запросы, то вернется html или текст, иначе 404 ошибка 
        </div>
    </div>
</div>