@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/staticblocks</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.StaticBlock.GetStaticBlocks")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/staticblocks")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">api/staticblocks?keys=key1,key2
</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "key": "LiveCounter",
        "value": null
    },
    {
        "key": "OrderSuccessTop",
        "value": "<div class=\"congrat\">Поздравляем!</div> <div class=\"congrat-num\">Ваш заказ принят под номером #ORDER_ID#</div>"
    }
]</pre>
        <div class="m-t m-b-xs">
            Если блок не найден по ключу или не активен, то его не будет в списке.
        </div>
        
    </div>
</div>
