@model int

@if (Model != 0)
{
    <div class="details-row details-custom-options">
        <div data-custom-options data-custom-option-combo-view="@FeaturesService.IsEnabled(EFeature.CustomOptionCombo).ToLowerString()" data-custom-option-picture="@FeaturesService.IsEnabled(EFeature.CustomOptionPicture).ToLowerString()" data-product-id="@Model" data-init-fn="product.customOptionsInitFn(customOptions)" data-before-change-fn="product.beforeCustomOptionsChange()" data-change-fn="product.customOptionsChange(item)"></div>
    </div>
    
}