@{    
    var isMobile = SettingsDesign.IsMobileTemplate;
    var yaMapsKey = SettingsCatalog.YaMapsApiKeyFoMapWarehouse;
}

@if (yaMapsKey.IsNotEmpty())
{
    <div>
        <button class="btn btn-middle btn-confirm" data-ng-click="product.openShopsMap(product.offerSelected.OfferId, @isMobile.ToString().ToLower(), '@yaMapsKey')" type="button">@T("Product.ProductStocks.StoresOnMap")</button>
    </div>
}
<div data-oc-lazy-load="[@Html.RenderAssetFilesList("stockList")]">
    <stock-list data-is-mobile="@isMobile.ToString().ToLower()" data-offer-id="product.offerSelected.OfferId"></stock-list>
</div>
