<uib-tab data-e2e="TabOrders" index="'ordersCustomer'" classes="ng-tab" select="tabOrdersShown = !tabOrdersShown" deselect="tabOrdersShown = !tabOrdersShown">
    <uib-tab-heading>
        @T("Admin.Customers.View.Orders") <span class="leads-count-label">{{customerView.instance.AllOrdersCount}}</span>
    </uib-tab-heading>
    <div class="customer-tabs--bg-grey" ng-if="tabOrdersShown">
        <div class="ibox-content">
            <customer-orders customer-id="customerView.customerId"></customer-orders>
        </div>
    </div>
</uib-tab>