<uib-tab data-e2e="TabLeads" index="'leadsCustomer'" classes="ng-tab" select="tabLeadsShown = !tabLeadsShown" deselect="tabLeadsShown = !tabLeadsShown">
    <uib-tab-heading>
        @T("Admin.Customers.View.Leads") <span class="leads-count-label">{{customerView.instance.LeadsCount}}</span>
    </uib-tab-heading>
    <div class="customer-tabs--bg-grey" ng-if="tabLeadsShown">
        <div class="ibox-content">
            <customer-leads customer-id="customerView.customerId" on-update="customerView.editCustomerClose()"></customer-leads>
        </div>
    </div>
</uib-tab>