@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

@{ 
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@if (Model.CustomerSegments != null && Model.CustomerSegments.Count > 0)
{
    <div class="ibox segments @(isMobile ? "m-b-md" : "")">
        <div class="ibox-content">
            <h3 class="category-title segments__title">@T("Admin.Customers.ViewSegments.Segments")</h3>
            <div class="row">
                <div class="col-xs-12">
                    @foreach (var segment in Model.CustomerSegments)
                    {
                        <span data-e2e="segment-@segment.Name" class="customer-segment-item segments__item btn-xs">@segment.Name</span>
                    }
                </div>
            </div>
        </div>
    </div>
}
