<div class="card product-item product-item--m-b-md">
    <div class="card__content">
        <header class="product-item__header">
            <div class="product-item__title">{{'Admin.Js.Order.Certificate'|translate}}</div>
        </header>
        <div class="product-item__art" ng-if="row.entity.CertificateCode">{{'Admin.Js.Order.CertificateCode'|translate}}: <span ng-bind="row.entity.CertificateCode"></span></div>
        <div class="card__row card__row--flow-column card__row--middle product-item__row" ng-if="row.entity.CertificateCode">
            <div class="product-item__col product-item__text">{{'Admin.Js.Order.UsedInOrderN'|translate}}</div>
            <div class="product-item__col product-item__text product-item__col--text-right" ng-bind="row.entity.ApplyOrderNumber.length > 0 ? row.entity.ApplyOrderNumber : '-'"></div>
        </div>
        <footer class="product-item__footer card__row card__row--bottom">
            <div class="product-item__amount-wrap" ng-if="row.entity.Sum != null">
                <span class="card__text product-item__amount-text">{{'Admin.Js.AddEditCertificates.Amount'|translate}}</span>
            </div>
            <div class="product-item__cost" ng-bind="row.entity.Sum"></div>
        </footer>
    </div>
</div>

