.congratulationsDashboard .tab-content > .active,
uib-tab {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background: transparent;
}

.dashboard-content .nav > li > a {
    color: #2f4050;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-content .nav.nav-tabs {
    background: #fff;
}

.dashboard-content .nav.nav-tabs > li.active > a {
    background-color: #2d9cee;
    color: #fff;
}

.complete_true {
    background: #edf7ff;
}

.achievements_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-content .svg_icon {
    width: 124px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
}

.dashboard-content .text_indent {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-content .block_indent {
    padding-bottom: 20px;
    padding-top: 20px;
}

.dashboard-content__progress-bar--step-2 {
    background: linear-gradient(to right, #3d8af6 0%, #3d8af6 60%, #ebebeb 60%, #ebebeb 100%);
}

.dashboard-content .progress-bar_indent {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-content__progress-bar {
    width: 90%;
}

.dashboard-content .inline-container {
    display: flex;
    align-items: center;
}

.dashboard-content .inline-container p {
    margin-right: 20px;
}

.dashboard-content .reward-coins {
    position: relative;
    padding-right: 40px;

    &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../../images/icon/Advantcoin.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
