@model AdvantShop.ViewModel.Home.TopPanelViewModel

@if (Model.IsShowNotificationStoreClosed)
{
    <div class="storeclosed-top cs-bg-1 cs-t-4">
        <div class="storeclosed-text-align">@T("Common.TopPanel.StoreClosed")</div>
    </div>
}

@if (Model.IsShowNotificationTechDomain)
{
    <div data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("techDomain", "")]}]">
        <div data-ng-controller="TechDomainCtrl as ctrl">
            <div ng-if="ctrl.isShowMessage" class="storeclosed-top cs-bg-1 cs-t-4 relative ng-cloak">
                <div class="storeclosed-text-align">
                    <div>Внимание: сейчас вы используете технический домен.</div>
                    <div>Чтобы сайт открывался по вашему собственному домену, его нужно привязать в @Html.ActionLink("настройках", "DomainsManage", "Service", new { area = "AdminV3", modal = "open" }, new { @class = "cs-t-4 storeclosed-link", target = "_blank" }).</div>
                </div>
                <a class="icon-cancel-before link-text-decoration-none tech-domain-info-close cs-t-4" ng-click="ctrl.closeDomainInfo()"></a>
            </div>
        </div>
    </div>
}

@if (Model.NotAllowCheckoutText.IsNotEmpty())
{
    <div class="storeclosed-top cs-bg-2 cs-t-4">
        <div class="storeclosed-text-align">@Model.NotAllowCheckoutText</div>
    </div>
}
