@model AdvantShop.Web.Admin.Models.Orders.Sdek.FormSdekBarCodeOrderModel

<form novalidate="novalidate">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Получить ШК места к заказу #@Model.OrderId</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">

        <div class="form-group">
            <div class="row">
                <label class="col-xs-3 control-label">
                    Число копий
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(x => x.CopyCount, new {ng_model = "ctrl.copyCount", @class = "form-control", validation_input_text = "Число копий" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="col-xs-3 control-label">
                    Формат печати
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(x => x.Format, Model.Formats, new { ng_model = "ctrl.format", @class = "form-control", validation_input_text = "Формат печати" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="col-xs-3 control-label">
                    Язык печатной формы
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(x => x.Lang, Model.Langs, new { ng_model = "ctrl.lang", @class = "form-control", validation_input_text = "Язык печатной формы" })
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-save btn-primary" ng-href="{{ctrl.getSendUrl()}}" target="_blank">Получить</a>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">@T("Admin.Cancel")</button>
    </div>
</form>
