@model AdvantShop.Web.Admin.Models.Orders.PickPoint.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createPickPointOrder()">Передать заказ в PickPoint</a>
}
@if (Model.ShowMakeLabel)
{
    <a href="@Url.AbsoluteActionUrl("GetPickPointMakeLabel", new { orderId = @Model.OrderId})" target="_blank" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Сформировать этикетку</a>
}
@if (Model.ShowMakeZebraLabel)
{
    <a href="@Url.AbsoluteActionUrl("GetPickPointMakeZebraLabel", new { orderId = @Model.OrderId})" target="_blank" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Сформировать этикетку для принтера Zebra</a>
}
@if (Model.ShowDeleteOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.deletePickPointOrder()">Удалить заказ из PickPoint</a>
}
