@model AdvantShop.Web.Admin.Models.Orders.RussianPost.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createRussianPostOrder()">Передать заказ в Почту России</a>
}
@if (Model.ShowDeleteOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.deleteRussianPostOrder()">Удалить заказ из Почты России</a>
}

@if (Model.ShowGetDocumentsBeforShipment)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.russianPostGetDocumentsBeforShipment()">Генерация печатных форм для заказа<br/>(до формирования партии)</a>
}

@if (Model.ShowGetDocuments)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.russianPostGetDocuments()">Генерация печатных форм для заказа</a>
}