@model AdvantShop.Web.Admin.Models.Orders.Sberlogistic.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createUpdateSberlogisticOrder()">@T("Admin.Js.OrderItemsSummary.CreateDraftOrderSberlogistic")</a>
}
@if (Model.ShowCancelOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createUpdateSberlogisticOrder()">@T("Admin.Js.OrderItemsSummary.UpdateDraftOrderSberlogistic")</a>
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.cancelSberlogisticOrder()">@T("Admin.Js.OrderItemsSummary.CancelDraftOrderSberlogistic")</a>
}