@model AdvantShop.Web.Admin.Models.Orders.ApiShip.OrderActionsModel
<div ng-init="$ctrl.sendOrderInApiShip = @Model.SendOrder.ToLowerString()">
<a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" 
   ng-click="$ctrl.createApiShipOrder()" ng-if="!$ctrl.sendOrderInApiShip">Отправить заказ в ApiShip</a>
<a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" 
   ng-click="$ctrl.deleteApiShipOrder()" ng-if="$ctrl.sendOrderInApiShip">Удалить заказ в ApiShip</a>
</div>

    

