@model AdvantShop.Web.Admin.Models.Orders.Yandex.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createYandexOrder()">Передать заказ в Яндекс.Доставку</a>
}
@if (Model.ShowCancelOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.cancelYandexOrder()">Отменить заказ в Яндекс.Доставке</a>
}
@if (!Model.ShowSendOrder && !Model.ShowCancelOrder)
{
    <span class="m-t-xs m-b-xs block fs-xs">Заказ отменен в Яндекс.Доставке<br />(повторно передать нельзя)</span>
}