@model AdvantShop.Web.Admin.Models.Orders.Shiptor.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createShiptorOrder()">Передать заказ в Shiptor</a>
}
else
{
    <span ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Заказ уже передан в Shiptor</span>
}
