@model AdvantShop.Web.Admin.Models.Orders.FivePost.OrderActionsModel

@if (Model.ShowCreateOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createFivePostOrder()">Передать заказ в FivePost</a>
}
@if (Model.ShowDeleteOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.deleteFivePostOrder()">Удалить заказ из FivePost</a>
}
