@model AdvantShop.Web.Admin.Models.Orders.PecEasyway.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createPecEasywayOrder()">Передать заказ в ПЭК:EASYWAY</a>
}
@if (Model.ShowGetLabel)
{
    <a href="orders/getPecEasywayOrderLabel?orderid=@Model.OrderId" target="_blank" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Получить этикетку для печати</a>
}
@if (Model.ShowCancelOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.cancelPecEasywayOrder()">Отменить заказ в ПЭК:EASYWAY</a>
}
@if (Model.IsCanceledOrder)
{
    <span ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Заказ отменен в ПЭК:EASYWAY</span>
}
