@model AdvantShop.Web.Admin.Models.Orders.OzonRocket.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createOzonRocketOrder()">Передать заказ в Ozon Rocket</a>
}
@if (Model.ShowUpdateOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.createOzonRocketOrder()">Обновить заказ в Ozon Rocket</a>
}
@if (Model.ShowCancelOrder)
{
    <a href="" ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}" ng-click="$ctrl.cancelOzonRocketOrder()">Отменить заказ в Ozon Rocket</a>
}
@if (!Model.ShowSendOrder && !Model.ShowUpdateOrder && !Model.ShowCancelOrder)
{
    <span ng-class="{'m-t-xs m-b-xs block fs-xs': !isMobile.value, 'btn btn--simple btn-link  btn--with-icon btn--horizontal-padding-zero more-button-popover__btn': isMobile.value}">Заказа отменен в Ozon Rocket<br/>(повторно передать нельзя)</span>
}