<div>
    <div class="price-amount-list" data-ng-if="priceAmountList.items != null && priceAmountList.items.length > 0">
        <div class="price-amount-list__row price-amount-list__row--head">
            <div class="price-amount-list__col price-amount-list__col--head">Количество</div>
            <div class="price-amount-list__col price-amount-list__col--head">Цена за ед.</div>
        </div>
        <div class="price-amount-list__row" data-ng-repeat="item in priceAmountList.items track by $index">
            <div class="price-amount-list__col" data-ng-bind="item.Amount"></div>
            <div class="price-amount-list__col" data-ng-bind="item.Price"></div>
        </div>
    </div>
</div>
