
<div class="card card--gap-row-sm">
    <div class="flex between-xs center-xs">
        <div class="card__col m-r-xs flex middle-xs">
            <span><i class="setting__color-icon" ng-style="{'background-color': '#' + row.entity.Color}"></i></span>
            <span class="m-l-sm">{{row.entity.StatusName}}</span>
        </div>
    </div>
</div>
