@model List<AdvantShop.Core.Services.Crm.TaskGroup>

<div class="more-button-popover__inner">
    @foreach (var taskGroup in Model)
    {
        <div class="more-button-popover__item">
            <a class="btn btn--simple  btn-link   btn--horizontal-padding-zero  more-button-popover__btn" href="@Url.AbsoluteRouteUrl("Admin_project", new { taskGroupId = taskGroup.Id })">
                <span class="btn-text">@taskGroup.Name</span> 
            </a>
        </div>
    }
</div>

