@model AdvantShop.Web.Admin.ViewModels.Booking.AffiliatesMenuModel

<div class="more-button-popover__inner">
    @foreach (var affiliate in Model.Affiliates)
    {
        <div class="more-button-popover__item">
            <a class="btn btn--simple  btn-link   btn--horizontal-padding-zero  more-button-popover__btn" href="@Url.AbsoluteActionUrl("Index", "Booking", new { id = affiliate.Id })">
                <span class="btn-text">@affiliate.Name</span>
            </a>
        </div>
    }
</div>

