@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="@(isMobile ? "setting-label-wrap funnel__label" : "m-sm ")">
    @T("Admin.Views.Funnels.Settings.CSSStyles.CSSStyles")
</div>

<ui-ace-textarea ui-ace-options="{mode: 'css'}" ng-model="landingSite.settings.SiteCss">
    @Html.TextAreaFor(x => x.SiteCss, new { @class = "", ng_model = "landingSite.settings.SiteCss" })
</ui-ace-textarea>