<div class="blocks-constructor-row">
    <button class="blocks-constructor-btn-confirm" data-e2e="ConvertToHtml" type="button" ng-click="$ctrl.convertToHtmlBlock()">
        Конвертировать в HTML-блок
    </button>
</div>

<div class="blocks-constructor-row">
    <a href="javascript:void(0)" data-e2e="CopyBlock" ng-click="$ctrl.copyBlock()">Сделать копию блока</a>
</div>

<div class="blocks-constructor-row">
    <a href="javascript:void(0)" data-e2e="UpdateBlock" ng-click="$ctrl.tryUpdatelBlock()">Обновить блок</a>
</div>
